*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: cadetblue; */
}

.checked{
  text-decoration: line-through;
 }
 .todo{
  background-color: aqua;
max-height: 700px;
min-height: 200px;
border: 2px solid black;
  width: 400px;
  margin:  80px auto;
  border-radius: 40px;
 }
 input{
  margin:20px
}
 .action{
  padding: 10px;
 }
 li {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: darkblue;
  /* margin: -19px; */
  margin-left: -36px;
}